
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayoutTest/_LayoutPage.cshtml";
}

<table class="table table-striped">
    <tbody>
        <tr>
            <td>t</td>
            <td>e</td>
        </tr>
        <tr>
            <td>s</td>
            <td>t</td>
        </tr>
        <tr>
            <td>t</td>
            <td>e</td>
        </tr>
    </tbody>
</table>
@{ Html.RenderPartial("_SysDataPartial");}
